{% extends 'base.html' %}
{% block content %}
{% if request.user.profile %}
<h3>Hey, Your Profile is already created!! <a href="{% url 'index' %}">Go Back</a></h3>
{% else %}
<div class="card">
    <h3 class="card-header">Create Your Profile</h3>
    <div class="container">
<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.media }}
    {{ form.user }}<br>
    {{ form.user.first_name }}
    {{ form.website_url }}<br>
    {{ form.twitter_url }}<br>
    {{ form.facebook_url }}<br>
    {{ form.instagram_url }}<br>
    {{ form.pic }}<br><br>
    {{ form.body }}<br><br>
    <div class="btn-group" role="group" aria-label="Basic example">
    <input type="submit" value="Create Profile" class="btn btn-secondary">
    <a href="{% url 'index' %}" class="btn btn-dark">Go Back</a>
</div>
</form>
<br>
</div>
<script>
    var name = "{{ user.id }}";
    document.getElementById('userid').value = name;
</script>
</div>
<br>
{% endif %}
{% endblock %}