{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% if request.user.id == page_user.id %}
<div class="card">
    <h3 class="card-header">Update User Settings</h3>
    <div class="container">
<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="btn-group" role="group" aria-label="Basic example">
    <input type="submit" value="Update Your Settings" class="btn btn-secondary">
    <a href="{% url 'index' %}" class="btn btn-dark">Go Back</a>
</div>
</form>
</div>
<br>
</div>
{% else %}
<h3>You are not allowed to make any changes to this form!! <a href="{% url 'edit_profile_page' request.user.id %}">Go Back</a></h3>
{% endif %}
{% else %}
<h3>Hey!! You are not currently logged In!! <a href="{% url 'index' %}">Go Back</a> or <a href="{% url 'login' %}">Log In</a></h3>
{% endif %}
{% endblock %}