{% extends 'base.html' %}
{% block content %}
{% if request.user.id == user.id %}
<div class="card">
	<h3 class="card-header">Update Your Password</h3>
	<div class="container">
<form method="POST" action="">
	{% csrf_token %}<br>{{ form.messages }}
	{{ form.old_password }}<br>{{ form.new_password1 }} <br> {{ form.new_password2 }}<br>
		<div class="btn-group" role="group" aria-label="Basic example">
	<input type="submit" value="Update Your Password" class="btn btn-secondary">
	<a href="{% url 'index' %}" class="btn btn-dark">Go Back</a>
</div>
	
</form>
<br>
</div>
{% else %}
Sup!!
{% endif %}


{% endblock %}
	<!--
	<div class="mb-3">
  
  <input type="password" class="form-control" id="exampleInputPassword1" autofocus required id="id_old_password"          placeholder="Enter Your Old Password" name="old_password">
</div>
<div class="mb-3">
 
  <input class="form-control" id="exampleInputPassword1" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Enter Your New Password"></input>
</div>
<div class="mb-3">
	<input class="form-control" id="exampleInputPassword1" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Re-Enter Your New Password"></input>
	<br>
	-->



<!--Optional
Your password can’t be too similar to your other personal information.
Your password must contain at least 8 characters.
Your password can’t be a commonly used password.
Your password can’t be entirely numeric.
-->
