{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{{ comment.post.id }}
<div class="card">
<h3 class='card-header'> Add a Comment</h3>
    <div class="container">
    <form method="POST" action="">
    {% csrf_token %}
    {{ form.media }}<br>
    {{ form.user }}
    {{ form.body }}<br><br>
    <div class="btn-group" role="group" aria-label="Basic example">

    <input type="submit" value="Create Comment" class="btn btn-secondary"> <a href="{% url 'index'  %}" class="btn btn-dark">Go Back</a><br>
</div>
</form>
<br>
</div>
</div>

<script>
	  	var name = "{{ user.id }}";
	  	document.getElementById('userid').value = name;
	  </script>
    
{% else %}
<h3>Hey!! You are not Logged In!! <a href="{% url 'index' %}">Go Back</a> or <a href="{% url 'login' %}">Log In</a></h3>
{% endif %}
<br>
{% endblock %}
