{% extends 'base.html' %}
{% load static %}
{% block content %}
<center><a href="{% url 'index' %}" class="btn btn-secondary">Go Back</a><br><br></center><hr>
<h3>
    {% if searched %}
    <center>You Searched for "{{ searched }}"</center>
    
</h3>
    {% for posts in form %}<br>
    Posted on: {{ posts.date }}<br>
    <a href="{% url 'detail' posts.id %}">{{ posts.title }}</a>- By: {{ posts.user }} 
{% if posts.user.profile.pic %}
<img src="{{ posts.user.profile.pic.url }}" width="40" height="40" class="rounded-circle"><br>
{% else %} 
<img src="{% static 'yapp\images\user_profile_default_2.png' %}" width=40, height=40 class="rounded-circle">
{% endif %}
 <hr>
<br>
    {% empty %}
    <br><center>There has not been any Posts of this Title...</center>    {% endfor %}
    {% else %}
<h3>
    <center>You searched for nothing!!</center>
    {% endif %}
</h3>
{% endblock %}